# normalisasi data menggunakan sklearn
ada beberapa jenis normalisasi dalam python
1. simple feature scaling
2. rescaling min-max normalization
3. mean normalization

In [5]:
# Simple feature Scaling Meggunakan Standard Scaler
from sklearn.preprocessing import StandardScaler

ModuleNotFoundError: No module named 'sklearn'

In [3]:
scaler = StandardScaler()

In [4]:
import pandas as pd

In [7]:
df = pd.read_csv('datasetgaji2.csv')

In [8]:
df

             Nama Status Rumah  Gaji Orang Tua  Umur
0      aldi taher      Kontrak         2100000    24
1          kekeyi        Milik         4000000    23
2   rangga sasana      Kontrak         1400000    21
3  vicky prasetyo      Kontrak          700000    28
4            Zuko        Milik          650000    27
5           dyrga      Kontrak          450000    22

In [14]:
df1 = df[['Gaji Orang Tua','Umur']]

In [20]:
a = scaler.fit_transform(df1)

In [22]:
a

array([[ 0.44733685, -0.06551218],
       [ 1.99268231, -0.45858525],
       [-0.12200096, -1.24473139],
       [-0.69133876,  1.5067801 ],
       [-0.73200575,  1.11370703],
       [-0.89467369, -0.85165832]])